* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* First navbar */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 10%;
  padding: 1% 0 0 0%;
}

.nav-logo {
  width: 13%;
  text-align: start;
}

.nav-logo > img {
  width: 40%;
}

.nav-search {
  display: flex;
}

.nav-search > input{
  width: 100%;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  padding-left: 2%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.nav-search > button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid: 5%;
  text-align: center;
  padding: 2%;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 1rem;
  font-style: normal;
  background-color: gray;
  color: white;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 30%;
}

.nav-search > button > img {
  display: flex; 
  width: 15%;
  padding-right: 1%;
  color: white;
}

.nav-icons {
  display: flex;
  justify-content: end;
  align-items: end;
  column-gap: 30%;
  width: 7%;
}

.nav-icons > img {
  width: 30%;
  text-align: center;
  cursor: pointer;
}

/* .nav-icons > .profil  span ul {
  display: none;
} */

.menu-container {
  position: absolute;
}


/* Second navbar */
.nav-container2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2% 0 0 3%;
}

.catego {
  width: 40%;
}

.category {
  list-style: none;
  width: 100%;
  display: flex;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  padding: 0 0 0 4%;
  cursor: pointer;
}

.category > img {
  width: 30px;
}

.list-items {
  list-style: none;
  width: 10%;
  position: absolute;
  padding: 0 0 0 0.6%;
}

.list-items > li {
  width: 100%;
  padding: 3% 0;
  z-index: 9;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  /* cursor: pointer; */
}

/* .list-items > li:hover {
  background-color: rgb(165, 162, 162);
  color: white;
  width: 100%;
  padding-left: 4%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
} */

.nav-items, a {
  list-style: none;
  width: 100%;
  display: flex;
  gap: 8%;
  justify-items: center;
  align-items: center;
  /* padding: 10% 0 0 0; */
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  padding: 0 2% 0 0%;
  text-decoration: none;
  cursor: pointer;
  color: black;
}
